{% extends 'main/layout.html' %}

{% block title %}О школе{% endblock %}

{% block content %}
<div class="features">
  <h1>
  История школы
</h1>
  <h2>
    Кимовская средняя школа №3  1 сентября 1956 года. Первых учеников встречал директор школы Воронин Сергей Васильевич и завуч школы – Буканов Виктор Васильевич .
1956-1957 учебный год:

Итого: 609 учащихся

Всего в начальной школе – 352 учащихся.

Всего в основной школе – 170 учащихся.

Всего в средней школе – 87 учащихся.

Директор школы – Воронин Сергей Васильевич родился в 1921 году, участник Великой Отечественной войны, награжден медалями «За отвагу», «За победу на фашистской Германией», в 1955 году закончил Тульский государственный педагогический институт и через год возглавил школу № 3. Руководил школой до ухода на заслуженный отдых в 1982 г..
Педагогический коллектив школы не раз награждался переходящим знаменем за хорошую учебно-воспитательную работу.

В 60-е годы школа работала в три смены, было более 900-1000 учащихся.
  </h2>
</div>
{% endblock %}